<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
  onload="if(submitted) {window.location='{{ site.baseurl | prepend: site.url }}';}"></iframe>
<section class="agreement-container" style="display:none;">
  <form id="agreement-form" action="https://docs.google.com/forms/d/e/1FAIpQLSfPMhfK1i3gUqqsiYjbErhB40u2KB4VnLfrOCQrfvhhqUMS_A/formResponse" 
  method="post" target="hidden_iframe" onsubmit="submitted=true;   localStorage.setItem('NASFiC_2020_agreement', true);">
  <input class="agreement-checkbox" id="coc-agreement" type="checkbox" name="entry.424891793_sentinel" hidden required />
  <label class="agreement button" for="coc-agreement" data-caption="Please click here:">I agree to abide by the Code Of Conduct.</label>
  <input class="agreement-checkbox" id="recording-agreement" type="checkbox" name="entry.1821752882_sentinel" hidden required />
  <label class="agreement button" for="recording-agreement" data-caption="... and check here:">
    I grant permission to Columbus NASFiC 2020 to record my
    participation in the online activities of this convention, and to
    distribute the recordings under a Creative Commons Attribution
    Non-Commercial 4.0 license.
  </label>
  <input class="agreement-checkbox" id="agreement-signature" type="checkbox" aria-hidden="true" name="entry.416960257_sentinel" hidden />
  <label class="agreement" for="agreement-name" data-caption="Please enter your name in our logs:">Your name:</label>
  <input id="agreement-name" name="entry.602310442" required />
  <button id="submit-agreement-btn" type="submit" disabled>Submit Form And Access Site</button>
</form>
</section>