<section class="dealer-listing">
  <div class="gallery">
    <div class="dealer-info">
      <h2>{{ dealer.name }}</h2>
      <p class="link"><a href="{{ dealer.link }}">Link to shop</a></p>
      <p>{{ dealer.description }}</p>
    </div>
    {% if dealer.filename1 %}
    <div class="gallery-image" style="background-image: url('/assets/images/{{ dealer.filename1 }}')">
    </div>
    {% endif %}
    {% if dealer.filename2 %}
    <div class="gallery-image" style="background-image: url('/assets/images/{{ dealer.filename2 }}')">
    </div>
    {% endif %}
    {% if dealer.filename3 %}
    <div class="gallery-image" style="background-image: url('/assets/images/{{ dealer.filename3 }}')">
    </div>
    {% endif %}
    {% if dealer.filename4 %}
    <div class="gallery-image" style="background-image: url('/assets/images/{{ dealer.filename4 }}')">
    </div>
    {% endif %}
    {% if dealer.filename5 %}
    <div class="gallery-image" style="background-image: url('/assets/images/{{ dealer.filename5 }}')">
    </div>
    {% endif %}
  </div>
</section>
