<section class="presenter-listing">
  <div class="floatimage" style="background-image: url('{{  site.url | append: site.baseurl  }}/assets/images/{{ presenter.filename }}'); float: 'left'">
  </div>
  <div class="presenter-info">
    <h2>{{ presenter.name }}</h2>
    <h3>{{ presenter.role }}</h3>
    {% if presenter.facebook or presenter.twitter or presenter.instagram or presenter.patreon or presenter.discord %}
    <ul class="social-links-menu">
      {% if presenter.facebook %}
      <li class="facebook social-link">
        <a href="https://www.facebook.com/groups/{presenter.facebook}/">
        <span class="screen-reader-text">Facebook</span>
        </a>
      </li>
      {% endif %}
      {% if presenter.twitter %}
      <li class="twitter social-link">
        <a href="https://twitter.com/{{presenter.twitter}}">
          <span class="screen-reader-text">Twitter</span>
        </a>
      </li>
      {% endif %}
      {% if presenter.instagram %}
      <li class="instagram social-link">
        <a href="https://www.instagram.com/{{presenter.instagram}}/">
          <span class="screen-reader-text">Instagram</span>
        </a>
      </li>
      {% endif %}
      {% if presenter.patreon %}
      <li class="patreon social-link">
        <a href="https://www.instagram.com/{{presenter.patreon}}/">
          <span class="screen-reader-text">Patreon</span>
        </a>
      </li>
      {% endif %}
      {% if presenter.discord %}
      <li class="discord social-link">
        <a href="https://www.instagram.com/{{presenter.discord}}/">
          <span class="screen-reader-text">Discord</span>
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
    <p><a href="{{ presenter.website }}">Website</a></p>
    <p>{{ presenter.description }}</p>
  </div>
</section>
