<section class="program-participant-itinerary" id="listing-{{ programparticipant.name | slugify }}">
  <div class="program-participant-info">
    <h3>{{ programparticipant.name }}</h3>
    <ul>
{% for event in site.data.schedule %}
{% capture pub %}
{% if event.published %}
(not published)
{% endif %}
{% endcapture %}
{%   for pp in event.programparticipants %}
{%     if pp == programparticipant.name %}
      <li class='{{pub | replace: "(", "" | replace: ")", "" | slugify }}'>{{event.datetime}}, {{event.room | markdownify | replace: "<p>", "" | replace: "</p>", "" }}- {{event.title}} {{pub}}</li>
{%     endif %}
{%   endfor %}
{% endfor %}
    </ul>
  </div>
</section>
