<section class="program-participant-listing">
  {% if programparticipant.filename.size > 0 %}
  <div class="floatimage" style="background-image: url('{{  site.url | append: site.baseurl  }}/assets/images/{{ programparticipant.filename | remove: "/assets/images/" }}'); float: 'left'">
  </div>
  {% endif %}
  <div class="program-participant-info">
    <h2>{{ programparticipant.name }}</h2>
    {% if programparticipant.role.size > 0 %}
    <h3>{{ programparticipant.role }}</h3>
    {% endif %}
    {% if programparticipant.facebook or programparticipant.twitter or programparticipant.instagram or programparticipant.patreon or programparticipant.discord %}
    <ul class="social-links-menu">
      {% if programparticipant.facebook.size > 0 %}
      <li class="facebook social-link">
        <a href="https://www.facebook.com/groups/{{programparticipant.facebook}}/">
        <span class="screen-reader-text">Facebook</span>
        </a>
      </li>
      {% endif %}
      {% if programparticipant.twitter.size > 0 %}
      <li class="twitter social-link">
        <a href="https://twitter.com/{{programparticipant.twitter}}">
          <span class="screen-reader-text">Twitter</span>
        </a>
      </li>
      {% endif %}
      {% if programparticipant.instagram.size > 0 %}
      <li class="instagram social-link">
        <a href="https://www.instagram.com/{{programparticipant.instagram}}/">
          <span class="screen-reader-text">Instagram</span>
        </a>
      </li>
      {% endif %}
      {% if programparticipant.patreon.size > 0 %}
      <li class="patreon social-link">
        <a href="https://www.instagram.com/{{programparticipant.patreon}}/">
          <span class="screen-reader-text">Patreon</span>
        </a>
      </li>
      {% endif %}
      {% if programparticipant.discord.size > 0 %}
      <li class="discord social-link">
        <a href="https://www.instagram.com/{{programparticipant.discord}}/">
          <span class="screen-reader-text">Discord</span>
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
    {% if programparticipant.website1.size > 0 %}
    {{ programparticipant.website1 | markdownify }}
    {% endif %}
    {% if programparticipant.website2.size > 0 %}
    {{ programparticipant.website2 | markdownify }}
    {% endif %}
    {% if programparticipant.website3.size > 0 %}
    {{ programparticipant.website3 | markdownify }}
    {% endif %}
    <p>{{ programparticipant.description | markdownify }}</p>
  </div>
</section>
