<aside class="disclaimers">
  <p>
    Captions are being provided by REV automatic transcriptions. They boast an 85%
    accuracy rate. We are aware that they will mangle many names and complicated
    words. Be aware that the captions are machine generated. Thank you for your
    understanding in the case of mistakes.
  </p>
  <p>
    The Discord chat channels named "{{include.name}}-even" and "{{include.name}}-odd" are for
    events happening on alternating hours. When you load or refresh this page, the
    chat widget will load the current channel. You may also change channels by clicking
    <span class="hamburger-menu-image">&nbsp;&nbsp;&nbsp;</span>
    in the top left of the chat widget.
  </p>
</aside>