<section class="schedule-listing">
  <h2>{{ event.title }}</h2>
  <p class="byline">
    {% if event.room.size > 0 %}
    {{ event.room | markdownify }}
    {% endif %}
    {% if event.datetime.size > 0 %}
    {{ event.datetime }}
    {% endif %}
  </p>
  <p class="byline">
    {% if event.moderators.size > 0 %}
    <span class="moderators">
      Moderator: {{ event.moderators | array_to_sentence_string }}
    </span>
    {% endif %}
    <span class="programparticipants">
      {{ event.programparticipants | array_to_sentence_string }}
    </span>
  </p>
  <p class="description">{{ event.description }}</p>
</section>
