<section class="schedule-listing">
  <h3>{{ event.title }}</h3>
  <p class="byline">
    {% if event.room.size > 0 %}
    <span class="link">
      {{ event.room | markdownify }}
    </span>
    {% endif %}
    {% if event.time.size > 0 %}
    <span class="time">
      {{ event.datetime }}
    </span>
    {% endif %}
  </p>
  <p class="byline">
    {% if event.moderators.size > 0 %}
    <span class="moderators">
      Moderator: {{ event.moderators | array_to_sentence_string }}
    </span>
    {% endif %}
    <span class="programparticipants">
      {{ event.programparticipants | array_to_sentence_string }}
    </span>
  </p>
  <p class="description">{{ event.description }}</p>
</section>
