<section class="schedule-listing">
  <h3>{{ event.title }}</h3>
  <p class="byline">
    <span class="link">
      <a href="{{ event.link }}">Link To Teleconference</a>
    </span>
    <span class="time">
      {{ event.day }}, {{ event.time }}
    </span>
  </p>
  <p class="byline">
    <span class="moderators">
      Moderator: {{ event.moderators }}
    </span>
    <span class="programparticipants">
      {{ event.programparticipants }}
    </span>
  </p>
  <p class="description">{{ event.description }}</p>
</section>
