---
---

$dark: rgb(45,52,84);
$medium: rgb(159,167,199);
$medium-light: rgb(202,205,224);
$light: rgb(237,240,252);
$very-light: rgb(245,247,255);
$white: rgb(250,250,250);
$highlight: rgb(201, 242, 253);

$facebook:  '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="white" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>';
$twitter:   '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>';
$instagram: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>';
$discord:   '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M297.216 243.2c0 15.616-11.52 28.416-26.112 28.416-14.336 0-26.112-12.8-26.112-28.416s11.52-28.416 26.112-28.416c14.592 0 26.112 12.8 26.112 28.416zm-119.552-28.416c-14.592 0-26.112 12.8-26.112 28.416s11.776 28.416 26.112 28.416c14.592 0 26.112-12.8 26.112-28.416.256-15.616-11.52-28.416-26.112-28.416zM448 52.736V512c-64.494-56.994-43.868-38.128-118.784-107.776l13.568 47.36H52.48C23.552 451.584 0 428.032 0 398.848V52.736C0 23.552 23.552 0 52.48 0h343.04C424.448 0 448 23.552 448 52.736zm-72.96 242.688c0-82.432-36.864-149.248-36.864-149.248-36.864-27.648-71.936-26.88-71.936-26.88l-3.584 4.096c43.52 13.312 63.744 32.512 63.744 32.512-60.811-33.329-132.244-33.335-191.232-7.424-9.472 4.352-15.104 7.424-15.104 7.424s21.248-20.224 67.328-33.536l-2.56-3.072s-35.072-.768-71.936 26.88c0 0-36.864 66.816-36.864 149.248 0 0 21.504 37.12 78.08 38.912 0 0 9.472-11.52 17.152-21.248-32.512-9.728-44.8-30.208-44.8-30.208 3.766 2.636 9.976 6.053 10.496 6.4 43.21 24.198 104.588 32.126 159.744 8.96 8.96-3.328 18.944-8.192 29.44-15.104 0 0-12.8 20.992-46.336 30.464 7.68 9.728 16.896 20.736 16.896 20.736 56.576-1.792 78.336-38.912 78.336-38.912z"/></svg>';
$patreon:   '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180"><path fill="white" d="M108.814 26.067c-26.469 0-48.003 21.53-48.003 47.998 0 26.386 21.534 47.854 48.003 47.854 26.386 0 47.853-21.468 47.853-47.854 0-26.467-21.467-47.998-47.853-47.998"/><path fill="white" d="M23.333 153.933V26.067H46.8v127.866z"/></svg>';

$main-padding: 0.25rem;

body {
  font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
  line-height: 1.1rem;
  margin: 0;
  font-size: 1rem;
  background: radial-gradient(circle 100vh at center top, rgba(245,251,255,1) 0%, rgba(244,251,255,1) 50%, rgba(223,233,241,0.1) 56%, rgba(244,251,255,1) 62%, rgba(223,233,241,0.1) 68%, rgba(244,251,255,1) 74%, rgba(223,233,241,0) 78%, rgba(223,233,241,0) 100%);
}

h1 {
  color: $dark;
  font-size: 3rem;
  margin: 0;
  line-height: 3rem;
}

h2 {
  color: $dark;
  font-size: 2rem;
  margin: 3rem 0 2rem 0;
  line-height: 2rem;
}

h3 {
  margin: 2rem 0 1.25rem 0;
  line-height: 1.75rem;
}

blockquote {
  padding: 0.25rem 1rem 1rem 1rem;
  background-color: $light;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $dark;
  margin: 0 0 1rem 0;

  .logo-link {
    position: relative;
    background: url('{{ site.baseurl }}/assets/images/Columbus-NASFiC-logo-for-header-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    width: 18%;
    margin: 0 1rem 0 0;

    a {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  .header-content {
    margin: 0;
    padding: 0;
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

    h1, h3 {
      margin: 1rem 1rem 0.5rem 0;
      color: $medium-light;
      text-align: right;
    }
    h1 {
      line-height: 2rem;
    }
    h3 {
      line-height: 1.2rem;
    }

    nav {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;

      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        li {
          position: relative;
          background-color: $medium-light;
          color: $dark;
          font-weight: bold;
          border-radius: 0.25rem 0.25rem 0 0;
          box-shadow: inset 0.2rem 0.2rem 0.3rem $very-light;
          padding: 0.5rem;
          margin: 0 0.5rem 0 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          color: inherit;
          white-space: nowrap;

          &.this-page {
            background-color: $very-light;
          }

          &:not(.this-page) {
            box-shadow: inset 0 -0.3rem 0.4rem $medium;
          }

          a {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.public-container, .accesscontrol-container {
  padding: 1rem;
  min-height: calc(100vh - 12rem);
  margin: 0 auto;

  li {
    margin-top: 1rem;
  }
}
.public-container {
  width: 50rem;
}

.accesscontrol {
  display: flex;
  flex-direction: row;
}

/* agreement */

.agreement-container > form {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &>label {
    margin: 2.5rem 0 0 0;
    padding-right: 3rem;
    position: relative;
  }

  .agreement-checkbox:not(:checked) + label::before {
    content: attr(data-caption);
    position: absolute;
    left: 1rem;
    top: -1.75rem;
    height: 1rem;
    width: fit-content;
  }

  .agreement-checkbox:checked + label::after {
    content: '';
    position: absolute;
    right: 0.25rem;
    top: calc(50% - 1.1rem);
    height: 2.5rem;
    width: 2rem;
    background: url('{{ site.baseurl }}/assets/images/yes.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  input {
    height: 1.5rem;
    margin: 0 0.5rem 1rem 0.5rem;
  }

  button {
    width: fit-content;
    align-self: flex-end;
  }

}

.button, button {
  padding: 1rem;
  background-color: $light;
  border-radius: 0.5rem;
  border: 0.1rem solid $highlight;
  box-shadow:
    inset 0.2rem 0.2rem 0.3rem $very-light,
    inset -0.2rem -0.2rem 0.1rem $medium,
    0.2rem 0.2rem 0.3rem $medium-light,
    -0.2rem 0.2rem 0.3rem $medium-light,
    0.2rem -0.2rem 0.3rem $medium-light;
}

.dealer-listing {
  margin-top: -0.5rem;
  border-top: 0.5rem solid $dark;
  border-bottom: 0.5rem solid $dark;

  .dealer-info {
    max-width: 45rem;
  }
}

.schedule-listing {
  .byline {
    display: flex;
    justify-content: space-between;

    .programparticipants, .moderators {
      font-style: italic;
    }

    .link, .time {
      font-weight: bold;
    }
  }
}

.program-participant-listing {
  min-height: 18rem;
  display: flex;
  flex-direction: row;

  .floatimage {
    margin-top: 3rem;
  }

  .program-participant-info {
    width: 40rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;

    h2 {
      width: 100%;
      margin: 3rem 0 1rem 0;
    }

    h3 {
      margin: 1rem 0.5rem 0.25rem 0;
    }
  }
}

/* footer */

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;

  .about-in-footer {
    width: 100%;

    p {
      width: 50rem;
      margin: 0 auto;
    }
  }

  img.license-img {
    height: 2rem;
    border-width: 0;
  }
}

/* images */

.floatimage {
  position: relative;
  border: 0.5rem solid $dark;
  padding: 1rem;
  width: 12rem;
  height: 12rem;
  background-size: cover;
  margin: 0.25rem 1rem 1rem 1rem;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.full-width-image {
  width: 100%;
  margin: 1rem 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.floatimage > span.bottom {
    position: absolute;
    bottom: 0;
}
.caption {
    color: $light;
    font-size: large;
    font-weight: bold;
    text-shadow:
      0.1rem 0.1rem $dark,
      0.1rem 0 $dark,
      -0.1rem -0.1rem $dark,
      -0.1rem 0 $dark,
      -0.1rem 0.1rem $dark,
      0 0.1rem $dark,
      0.1rem -0.1rem $dark,
      0 -0.1rem $dark;
}


/* gallery */

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  border: none;
  background-color: transparent;
}
.gallery-image {
  width: 24rem;
  height: 15vw;
  margin: 1rem;
  background-color: $light;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1rem solid $medium;
  border-radius: 1rem;
}
.lightbox-image {
  width: calc(100% - 23rem);
  height: 64rem;
  background-color: $light;
  border: unset;
  border-radius: unset;
}

.gallery-image:not(.lightbox-image):hover {
  border-color: $dark;
  background-color: $dark;
}

hr {
  height: 1rem;
  background-color: $dark;
}

/* social media */
.screen-reader-text {
  display: none;
}

ul.social-links-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;

  li.social-link {
    height: 1.25rem;
    width: 1.25rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $dark;
    margin: 0 0.5rem;
    border: 0.15rem solid $dark;
    border-radius: 0.25rem;
    position: relative;

    a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  
  li.facebook {
    background-image: url('data:image/svg+xml;utf8,#{$facebook}');
  }
  
  li.twitter {
    background-image: url('data:image/svg+xml;utf8,#{$twitter}');
  }
  
  li.instagram {
    background-image: url('data:image/svg+xml;utf8,#{$instagram}');
  }
  
  li.discord {
    background-image: url('data:image/svg+xml;utf8,#{$discord}');
  }

  li.patreon {
    background-image: url('data:image/svg+xml;utf8,#{$patreon}');
  }
}
