<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <title>Virtual NASFiC 2020 {{ page.title }}</title>
  <meta name="description"
    content="The 2020 North American Science Fiction Convention online. {{ page.title }}." />
  <meta property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: absolute_url }}" />
  <meta property="og:title" content="{{ page.title | append: ' - ' }}Virtual NASFiC 2020" />
  <meta property="og:description"
    content="The 2020 North American Science Fiction Convention online." />
  <meta property="og:image" content="{{ absolute_url }}/assets/images/Columbus-NASFIC-2020_landing_image.jpg" />
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,500;1,700&display=swap" rel="stylesheet">
</head>

<body class="pages">
  <main class="main">
    <header>
      <div class="logo-link">
        <a href="/" alt="Home"></a>
      </div>
      <div class="header-content">
        <h1>Virtual Access Portal</h1>
        <h3>NASFiC 2020, Friday, August 21 - Sunday, August 23</h3>
        <nav>
          <ul class="rooms-menu">
          {% assign rooms = site.pages | sort: "order" %}
          {% for room in rooms %}
          {% if room.category == "accesscontrol" %}
            {% if room.title == page.title %}
            <li class="this-page room">
            {% else %}
            <li class="room">
            {% endif %}
              <a href="{{ room.url | prepend: site.baseurl | prepend: site.url }}">
              </a>
              {{ room.title }}
            </li>
          {% endif %}
          {% endfor %}
          </ul>
          <ul class="public-menu">
          {% assign navs = site.pages | sort: "order" %}
          {% for nav in navs %}
            {% if nav.category == "public" %}
              {% if nav.title == page.title %}
            <li class="this-page public" >
              {{ nav.title }}
              {% else %}
            <li class="public">
              <a href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}">
              </a>
              {{ nav.title }}
              {% endif %}
            </li>
            {% endif %}
          {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
    {% if page.category == "accesscontrol" %}
    {% include agreement.html %}
    <section class="accesscontrol-container" hidden>
    {% else %}
    <section class="public-container">
    {% endif %}
      {{ content }}
    </section>
    {% include footer.html %}
  </main>
  <script>
    const agreement = localStorage.getItem('NASFiC_2020_agreement');
    const agreement_container = document.getElementsByClassName('agreement-container')[0];
    if (agreement) {
      const form = document.getElementById('agreement-form');
      if (form) {
        form.style.display = "none";
      }
      if (agreement_container) {
        agreement_container.style.display = "none";
      }
      const accesscontainer = document.getElementsByClassName("accesscontrol-container")[0];
      if (accesscontainer) {
        accesscontainer.style.display = "block";
      }
      const accesscontrolnav = document.getElementsByClassName('accesscontrol');
      if (accesscontrolnav) {
        Array.from(accesscontrolnav).forEach((li) => {
          li.style.display = "block";
        })
      }
    }
    const staff_btn = document.getElementsByClassName('reveal-agreement-form-btn')[0];
    console.log('staff button ', staff_btn);
    if (staff_btn) {
      console.log(' button exists');
      staff_btn.addEventListener('click', function (e) {
        console.log('clicked button ', e);
        if (agreement_container) {
          console.log('agreement_container exists ', agreement_container);
          agreement_container.style.display = "block";
        }
        const agreement_form = document.getElementById('agreement-form');
        if (agreement_form) {
          console.log('agreement_form exists ', agreement_form);
          agreement_form.style.display = "flex";
        }
      }, false);
    }
    if (window.document.documentMode) {
      var main = document.getElementsByClassName('main')[0];
      var iesupportmsg = document.createElement('div');
      iesupportmsg.innerText = "We're sorry, but Internet Explorer is not supported."
      main.appendChild(iesupportmsg);
    }

    const gallery_images = document.getElementsByClassName("gallery-image");

    var makeLarge = function(e) {
      const lightbox_images = document.getElementsByClassName("lightbox-image");
      Array.from(lightbox_images).forEach((img) => {
        img.classList.remove("lightbox-image");
      });
      e.target.classList.add("lightbox-image");
    };

    Array.from(gallery_images).forEach((img) => {
      img.addEventListener('click', makeLarge, false);
    });
  </script>
</body>
</html>