<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <title>Virtual NASFiC 2020 {{ page.title }}</title>
  <meta name="description"
    content="The 2020 North American Science Fiction Convention online. {{ page.title }}." />
  <meta property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: absolute_url }}" />
  <meta property="og:title" content="{{ page.title | append: ' - ' }}Virtual NASFiC 2020" />
  <meta property="og:description"
    content="The 2020 North American Science Fiction Convention online." />
  <meta property="og:image" content="{{ absolute_url }}/assets/images/Columbus-NASFIC-2020_landing_image.jpg" />
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Josefin+Sans:300,600" rel="stylesheet"
    type="text/css">
</head>

<body class="pages">
  <main class="main">
    <header>
      <div class="logo-link">
        <a href="/" alt="Home"></a>
      </div>
      <div class="header-content">
        <h1>Virtual Access Portal</h1>
        <h3>NASFiC 2020, Friday, August 21 - Sunday, August 23</h3>
        <nav>
          <ul>
          {% assign navs = site.pages | sort: "order" %}
          {% for nav in navs %}
            {% if nav.category == "public" %}
              {% if nav.title == page.title %}
            <li class="this-page public" >
              {{ nav.title }}
              {% else %}
            <li class="public">
              <a href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}"></a>
              {{ nav.title }}
              {% endif %}
            </li>
            {% endif %}
          </ul>
          <ul>
            {% if nav.category == "accesscontrol" %}
              {% if nav.title == page.title %}
            <li class="this-page accesscontrol" style="display: none">
              {{ nav.title }}
                {% else %}
              <li class="accesscontrol" style="display: none">
                <a href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}"></a>
                {{ nav.title }}
                {% endif %}
              </li>
                {% endif %}
          {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
    {% if page.category == "accesscontrol" %}
    {% include agreement.html %}
    <section class="accesscontrol-container" hidden>
    {% else %}
    <section class="public-container">
    {% endif %}
      {{ content }}
    </section>
    {% include footer.html %}
  </main>
  <script type="text/javascript" src="{{ site.baseurl | prepend: site.url }}/assets/js/access.js" />
</body>
</html>