<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <title>Virtual NASFiC 2020 {{ page.title }}</title>
  <meta name="description"
    content="The 2020 North American Science Fiction Convention online. {{ page.title }}." />
  <meta property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: absolute_url }}" />
  <meta property="og:title" content="{{ page.title | append: ' - ' }}Virtual NASFiC 2020" />
  <meta property="og:description"
    content="The 2020 North American Science Fiction Convention online." />
  <meta property="og:image" content="{{ absolute_url }}/assets/images/Columbus-NASFIC-2020_landing_image.jpg" />
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico"  | absolute_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Josefin+Sans:300,600" rel="stylesheet"
    type="text/css">
</head>

<body class="pages">
  <main class="main">
    <header>
      <div class="logo-link">
        <a href="/"></a>
      </div>
      <div class="header-content">
        <h1>Virtual Access Portal</h1>
        <nav>
          <h3>NASFiC 2020, Friday, August 21 - Sunday, August 23</h3>
          <ul>
          {% assign navs = site.pages | sort: "order" %}
          {% for nav in navs %}
            {% if nav.category == "public" %}
              {% if nav.title == page.title %}
            <li class="this-page public" >
              <span>{{ nav.title }}</span>
              {% else %}
            <li class="public">
              <a href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}">{{ nav.title }}</a>
              {% endif %}
            </li>
            {% endif %}
            {% if nav.category == "accesscontrol" %}
              {% if nav.title == page.title %}
            <li class="this-page accesscontrol" style="display: none">
              <span>{{ nav.title }}</span>
                {% else %}
              <li class="accesscontrol" style="display: none">
                <a href="{{ nav.url | prepend: site.baseurl | prepend: site.url }}">{{ nav.title }}</a>
                {% endif %}
              </li>
                {% endif %}
          {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
    {% if page.title == "Chat" %}
    <section hidden>
    {% else %}
    <section class="container" hidden>
    {% endif %}
      {{ content }}
    </section>
    {% include agreement.html %}
    {% include footer.html %}
  </main>
  <script>
    const agreement = localStorage.getItem('NASFiC_2020_agreement');
    if (agreement) {
      const form = document.getElementById('agreement-form');
      if (form) {
        form.style.display = "none";
      }
      const agreement_container = document.getElementById('agreement-container');
      if (agreement_container) {
        agreement_container.style.display = "none";
      }
      const container = document.getElementsByClassName("container")[0];
      if (container) {
        container.style.display = "block";
      }
      const accesscontrolnav = document.getElementsByClassName('accesscontrol');
      if (accesscontrolnav) {
        Array.from(accesscontrolnav).forEach((li) => {
          li.style.display = "block";
        })
      }
    }
    if (window.document.documentMode) {
      var main = document.getElementsByClassName('main')[0];
      var iesupportmsg = document.createElement('div');
      iesupportmsg.innerText = "We're sorry, but Internet Explorer is not supported."
      main.appendChild(iesupportmsg);
    }
  </script>
</body>
</html>